services:
  db:
    image: postgres:15
    container_name: agenda-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - agenda_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 20

  api:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: agenda-api
    depends_on:
      db:
        condition: service_healthy
    environment:
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"
      # se quiser swagger sempre:
      # ASPNETCORE_ENVIRONMENT: Development
    ports:
      - "8080:8080"

  web:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: agenda-web
    depends_on:
      - api
    ports:
      - "80:80"

volumes:
  agenda_pgdata: